<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @distance_to_joey, partial: "card", as: :distance_to_joey %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
